<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shirodemo.kay.mapper.TaskMapper">

    <resultMap id="BaseResultMap" type="com.shirodemo.kay.entity.Task">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="cronExpression" column="cron_expression" jdbcType="VARCHAR"/>
            <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
            <result property="bizModule" column="biz_module" jdbcType="VARCHAR"/>
            <result property="bizId" column="biz_id" jdbcType="VARCHAR"/>
            <result property="bizTag" column="biz_tag" jdbcType="VARCHAR"/>
            <result property="callbackData" column="callback_data" jdbcType="VARCHAR"/>
            <result property="callbackType" column="callback_type" jdbcType="VARCHAR"/>
            <result property="callbackUrl" column="callback_url" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cron_expression,job_name,
        biz_module,biz_id,biz_tag,
        callback_data,callback_type,callback_url,
        enabled,create_time
    </sql>
</mapper>
